.changePassword{
	display: flex;
	padding-left: 1em;
}

.changePassword > form > .inputItem{
	margin-top: 1em;
	margin-bottom: 1em;

}

.inputItem{
	display: flex;
	flex-direction: column;
}

.inputItem > *{
	width: fit-content;
}

.inputItem > input{
	outline: none;
	border: 1px solid #009aee;
	border-radius: 2em;
	padding-left: .8em;
	margin-top: 0.8em;
}

.inputItem>button{
	background-color: #009aee;
	color: white;
	text-align: center;
	border-radius: .8em;
	border: none;
	padding: 0.3em;
	justify-self: flex-start;
}

.inputItem>button:hover{
	cursor: pointer;
}