.ForgotPassword{
	background-color: #c2c2c2;
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	align-content: center;
	margin: auto;
	margin-top: 3em;
	padding: 1em;
	border-radius: 1em;
}

.ForgotPassword>p{
	margin-top: 1em;
	display: inherit;
	align-self: center;
}

.ForgotPassword>form{
	display: inherit;
	flex-direction: column;
	align-self: center;
	margin-top: 1.5em;
}

.ForgotPassword>form>div{
	display: flex;
	flex-direction: column;

}

.ForgotPassword>form>div>input{
	outline: none;
	border-radius: 1em;
	border: 1px solid #009aee;
	padding-left: 1em;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-top: .5em;
}

.ForgotPassword>form> button{
	width: fit-content;
	align-self: center;
	margin-top: 1em;
	background-color: #009aee;
	border-radius: 1em;
	border: none;
	padding: .5em;
	color: white;
}