.JobsPosted{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}

table{
	border-collapse: collapse;
	box-sizing: border-box;
}

.JobsPosted>table>.selectedRow{
	background-color: #c2c2c2;
}

.JobsPosted>table>thead>tr{
	background-color: #f2f2f2;
}

.JobsPosted>table>thead>tr>th{
	text-align: center;
	padding: 1em;
}

.JobsPosted>table>tr{
	background-color: #f2f2f2;
}

.JobsPosted>table>tr:hover{
	background-color: white;
}

td{
	text-align: center;
	padding: 1em;
}

.JobsPosted>table>thead>tr>th{
	border-bottom: 3em solid white;
}

.JobsPosted>table>tr>td{
 	border-bottom: 1em solid white;
}


.Modal {
    position: absolute;
    top: 40px;
    left: 35%;
    right: 35%;
    bottom: 40px;
    background-color: #c2c2c2;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    opacity: 0.9;
    z-index: 999;
  }

  .Modal> button{
  	background-color: red;
  	color: white;
  	border-radius: 2em;
  	width: fit-content;
  	padding: .6em;
  	align-self: center;
  	text-align: center;
  	border: none;
  }

  .Modal > button:hover{
  	cursor: pointer;
  }